[MESSAGES CONTROL]
# Disable the message, report, category or checker with the given id(s).
disable=missing-module-docstring, line-too-long, broad-exception-raised, fixme, missing-class-docstring, logging-fstring-interpolation, no-self-argument, broad-exception-caught